html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', Helvetica, Arial sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    line-height: 1;
    background-color:  #fafafa;
    margin: 0px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-block-start: 2em;
    line-height: 1;
}

h1 {
    /* font-size: 36px; */
    font-size: 2.0em;
}
h2 {
    /* font-size: 32px; */
    font-size: 1.8em;
}
h3 {
    /* font-size: 28px; */
    font-size: 1.6em;
}
h4 {
    /* font-size: 24px; */
    font-size: 1.4em;
}
h5 {
    /* font-size: 20px; */
    font-size: 1.2em;
}
h6 {
    /* font-size: 16px; */
    font-size: 1.0em;
}

small {
    font-size: 80%;
    color: gray;
}

main article {
    min-width: 768px;
    max-width: 968px;
    margin: 10px;
}



@font-face {
    font-family: Gidole;
    // src: url(../font/Gidole-Regular.ttf);
    font-size: 200px !important;
    
}



.item {
    display: inline-block;
    margin: 10px;
    width: 22%;
}

.item-image {
    height: 150px;
    min-width: 200px;
    background-color: #f1f1f1;
}

.item-details {
    color: white;
    background-color: forestgreen;
    min-width: 190px;
    min-height: 40px;
    padding: 10px;
}


.item-container > div {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

@media only screen and (max-width: 890px) {
    .item {
        width: 30%;
    }
}

@media only screen and (max-width: 790px) {
    main article {
        min-width: 500px;
    }

    .nav-bar > div {
        min-width: 500px;
    }

    .item-container > div {
        justify-content: stretch;
    }

    .item {
        width: 45%;
        margin-right: 0px;
    }
}