$outline-color: #57BA98;
$text-color: #3B945E;

.nav-bar{
    height:  110px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    margin-bottom: 50px;
    width: 100%;
    background-color: #fafafa !important;

}


.nav-logo{
    background-image: url('../../resource/images/logo.png');

    width: 16%;
    background-repeat: no-repeat;
}

.nav-search-bar-wrap{
    width: 45%;
}

.nav-search-input{
    width: 70%;
    border: forestgreen solid 3px;
    height: 30px;
}

.nav-search-button{

}

.nav-icons{
    width: 15%;
    padding-top: 45px;
    padding-left:20px
}

.fa-user{
    size: 3px;
}

.nav-icons section{
    float: left;
}


.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid $text-color;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color:$text-color;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid $text-color;
    background: $text-color;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .cartButton {
    width: 40px;
    height: 36px;
    text-align: center;
    color: $text-color;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    padding-top: 35px;
  }