$outline-color: #57BA98;
$text-color: #3B945E;

.centered {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
 
}


.banner {
  //border: $outline-color 0.5em solid;
  //height: 300px;
  background-color: white;
}

.categories-title{
  padding-left:15px !important;
  padding-top:15px !important;
  padding-bottom:15px !important;
  border-bottom: $outline-color 0.01em solid;
  color: $text-color;
  font-weight: 600;
}

.category {
  display: inline-block;
  width: 22.5%;
  border-right: $outline-color 0.01em solid;
  height: 100%;
}

.category-image {
  height: 150px;
  min-width: 200px;
  background-color: white;
  border-right: $outline-color 0.01em solid;
}

.category-details {
  background-color:white;
  min-width: 200px;
  height: 100%;
}

.category-container{
height:100%;
  
}

.category-wrap{
  height:100%;
  
}